@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-smooth: auto;
}

*:focus {
    outline: none;
}

:root {
    font-size: 62.5%;

    --text: '#323443';
    --title: '#F97C81';

    --bg: '#8685ef';
    --bg-secondary: '#8685ef';

    color: var(--text);
}

html, body {
    height: 100vh;
    width: 100vw;
    font-size: 1.6rem;
    overflow: hidden;
}

@font-face {
    /* PWSignaturetwo */

    font-family: "Thesignature";
    src: url("./fonts/Thesignature.otf"),
}

.signature {
    font-family: "Thesignature";
    font-weight: 400;
    font-kerning: normal;
}
  
.roboto-condensed-bold {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}